
.header{
  padding: 1rem;
  background: var(--tertiary-clr);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--border-clr);
}
.header h2{
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--txt-dark);
}
.header_right{
  display: flex;
  gap: 2rem;
  align-items: center;
}

.search_box{
  width: 50%;
  background: var(--primary-clr);
  padding: .5rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
  gap: .3rem;
  border:2px solid var(--border-clr);
  color: var(--txt-gray);
}

.search_box input{
  border: none;
  outline: none;
  background:inherit;
  color: var(--txt-dark);

}

.h-date{
  width: 100%;
  display: flex;
  align-items: center;
  gap: .4rem;
  color: var(--txt-dark);
  cursor: pointer;
}

.h-date b{
  font-size: .85rem;
  font-weight: 600;
}

.h-bell {
  padding: .5rem .6rem;
  border: 2px solid var(--border-clr);
  border-radius: 50%;
  cursor: pointer;
}

.h-bell i{
  font-size: 1.2rem;
  color: var(--txt-dark);
}

.h-bell .nf{
  display: none;
}

.h-bell:hover{
  transform: scale(1.1);
  transition: .5s ease-in-out;
}

.m-nf{
  display: none;
}

.user_details{
  width: 100%;
  padding: .5rem;
  display: flex;
  align-items: center;
  gap: .7rem;
  border: 2px solid var(--border-clr);
  border-radius: 28px;
  cursor: pointer;
    color: var(--txt-dark);
}

.u_img_box{
  width: 2.2rem;
  height: 2.2rem;
}

.u_img_box img{
  width: 100%;
  height: 100%;
}
.user_details p,.user_details i{
  font-size: .9rem;
  font-weight: 500;
  color: var(--txt-dark);
}

.user_details small{
  font-size: .8;
  font-weight: 500;
  color: var(--txt-gray);
}

.user_details i{
  font-size: 1rem;
}

.user_details:hover{
  transform: scale(1.02);
  transition: .4s ease-in-out;
}



.calendar{
  padding: .5rem;
  width: 18rem;
  position: absolute;
  top: 10%;
  right: 15%;
  display: none;
  z-index: 2;
  background:var(--primary-clr);
  animation: animatezoom .3s ease-in-out;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);
  border: 3px solid var(--border-clr);
  border-radius: 7px;
}

.open-nav{
  display: none;
}

@media screen and (max-width:800px){
  .header_right{
    padding: 1rem;
    width:95%;
    position: fixed;
    top: 80px;
    left: 2;
    display: none;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    background:var(--tertiary-clr);
    border: 2px solid var(--border-clr);
    border-radius: 7px;
    z-index: 50;
    animation: animatezoom .3s ease-in-out;
  }
  /* .header_right .mobileBlur{
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.626);
    display: none;
    position: absolute;  
    top:0px;
    left: 0;
    z-index: 1;
  } */

  .search_box{
    width: 100%;
  }
  
  .search_box input{
    width: 100%;;
  }

  
.user_details{
  padding: .1rem;
}

.u_img_box{
  width: 2rem;
  height: 2rem;
}

.user_details p,.user_details i{
  font-size: .8rem;
}


.h-bell{
  display: none;
}


.m-nf{
  display: flex;
  align-items: center;
  gap:.5rem;
  color: var(--txt-dark);
  font-weight: 500;
  cursor: pointer;
}

.open-nav{
  display: inherit;
  font-size: 1.7rem;
  color: var(--txt-dark);
  cursor: pointer;
}



}