.navbar {
    width: fit-content;
    background: var(--secondary-clr);
    min-height: 100%;
    border-right: 2px solid var(--border-clr);
    z-index: 2;

}

.navbar .logo_box {
    width: 2.6rem;
    height: 2.6rem;
    margin-bottom: .7rem;
}

.navbar .logo_box img {
    width: 100%;
    height: 100%;
}

.navbar ul {
    padding: 1.5rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.top_nav_box,
.bottom_nav_box {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

}



.navbar img {
    width: 1.7rem;

}


.navbar ul a {
    display: flex;
    align-items: center;
    gap: .6rem;
}



nav a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--txt-gray);


}

.navbar a.active {
    color: rgb(34 197 94);
}

.navbar li img:hover,
.navbar li a:hover {
    transform: scale(1.05);
    transition: .4s ease-in-out;
}

.navbar .switch_box {
    padding: .4rem;
    width: fit-content;
    background: var(--primary-clr);
    border-radius: 100px;
}

.navbar .switch_flex {
    display: flex;
    flex-direction: column;
    gap: .6rem;
    cursor: pointer;

}

.navbar .switch_flex .toggle-icon {
    padding: .2rem .2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    border-radius: 50%;
}

.toggle-icon.sun {
    background-color: var(--lm-sun);
    color: #fff;
}

.toggle-icon.moon {
    background-color: var(--lm-moon);
    color: var(--moon-clr);
}



.nav_handle {
    display: flex;
    align-items: center;
    gap: .6rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--txt-gray);
    cursor: pointer;
}

.navbar li span {
    overflow: hidden;
}

.open-sidebar{
    padding: .15rem .35rem;
    font-size: 2rem;
    color: #fff;
    background: var(--major-clr);
    position: fixed;
    top: 50%;
    left: 20%;
    transform: rotate(-90deg);
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, .1, .1);
    z-index: 1;
    cursor: pointer;
    display: none;

}
@media screen and (max-width:800px){
    .open-sidebar{
        display: inherit;
    }
    .navbar li span {
       display: none;
    }
    .navbar{
        position: fixed;
        animation: animatewidth .5s ease-in-out;
        overflow: hidden;
        display: none;
    }

    @keyframes animatewidth {
        0%{
            width: 0%;
        }
        50%{
            width:5.9rem;
        }
      }
      
  }