@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --primary-clr: #FFFFFF;
  --secondary-clr: #F7F8FA;
  --tertiary-clr: #Fdfdfd;
  --border-clr: #EBECF2;
  --txt-gray: #898989;
  --txt-dark: #171717;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.app {
  display: flex;
}


.page_section {
  width: 100%;
}

/* 
Dashboard styles */

.dashboard {
  width: 100%;
  background: var(--tertiary-clr);
  height: 100%;
}