@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --major-clr: #34CAA5;
  --primary-clr: #FFFFFF;
  --secondary-clr: #F7F8FA;
  --tertiary-clr: #F5F5F5;
  --border-clr: #EBECF2;
  --txt-gray: #898989;
  --txt-dark: #171717;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.app {
  display: flex;
}


.page_section {
  width: 100%;
}

/* 
Dashboard styles */

.dashboard {
  width: 100%;
  background: var(--tertiary-clr);
  height: 100%;
}

.db-main-flex {
  padding: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1rem;

}

.db-main-left,
.db-main-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.chart-box {
  margin-top: 2rem;
}

.last-orders,
.sales-trend {
  padding: 1rem;
  background: var(--primary-clr);
  border-radius: 14px;
}

.lo-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.db-main-flex h2 {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--txt-dark);
}

.lo-flex a {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--major-clr);
}

table {
  margin: 2rem 0;
  width: 100%;
  text-align: left;
}

table tr {
  position: relative;
}

table tr::after {
  content: '';
  width: 100%;
  height: 1px;
  background: var(--border-clr);
  position: absolute;
  bottom: 0;
  left: 0;
}



table th {
  font-size: 1rem;
  font-weight: 500;
  color: var(--txt-gray);
}

table td {
  font-size: .9rem;
  text-align: left;
  padding: .5rem 0;
}

table td:first-child img {
  width: 1.9rem;
}

.view-btn {
  display: flex;
  align-items: center;
  gap: .3rem;
  font-weight: 500;
  color: var(--txt-dark);
}

.view-btn a {
  color: var(--txt-dark);
}


table tbody tr td:first-child {
  display: flex;
  align-items: center;
  gap: .5rem;

}


.db-main-right {
  width: 100%;

}

/* stats */

.order-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  height: 45.5%;
}

.stat-box {
  width: 100%;
  height: 100%;
  padding: .8rem;
  background: var(--primary-clr);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 14px;
}

.stat-box-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stat-box-middle {
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.stat-box-middle h4 {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--txt-gray);
}

.stat-box-middle h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--txt-dark);
}

.stat-box-btm {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: .7rem;
}


.stat-box-btm button {
  padding: .2rem .5rem;
  display: flex;
  align-items: center;
  gap: .3rem;
  outline: none;
  border: none;
  border-radius: .6rem;

}

.stat-box-btm .positive-btn {
  background: #34CAA51F;
  color: var(--major-clr);
}

.stat-box-btm .negative-btn {
  background: #ED544E1F;
  color: #ED544E;
  ;
}

.top-platform {
  padding: 1rem;
  background: var(--primary-clr);
  border-radius: 14px;
}

/* Top platform */


.tps {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin: 1.5rem 0;

}

.tp-box {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 100%;
  margin-bottom: 5px;
}

.tp-text {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-color);
}

.tp-layout {
  width: 100%;
  height: 10px;
  background: var(--tertiary-clr);
  border-radius: 7px;
}


.tp-filled {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  display: block;
  position: relative;
  animation: skillBar .4s ease-in-out forwards;

}

.pp-flex {
  font-size: .9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.tp-filled.bb {
  width: 50%;
  background: #6160DC;
  animation-delay: .1s;
}

.tp-filled.aa {
  width: 40%;
  background: #54C5EB;
  animation-delay: .2s;
}

.tp-filled.tt {
  width: 32%;
  background: #FFB74A;
  animation-delay: .3s;
}

.tp-filled.xt {
  width: 20%;
  background: #ff0000;
  animation-delay: .3s;
}



@keyframes skillBar {
  0% {
    width: 0;

  }

}