@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');



.light-theme{
  --major-clr: #34CAA5;
  --primary-clr: #FFFFFF;
  --secondary-clr: #F7F8FA;
  --tertiary-clr: #F5F5F5;
  --border-clr: #EBECF2;
  --txt-gray: #898989;
  --txt-dark: #171717;
  --lm-sun:#34CAA5;
  --lm-moon:#fff;
  --moon-clr:#898989;
}

.dark-theme{
  --major-clr: #34CAA5;
  --primary-clr: #18181a;
  /* --secondary-clr: #18181a; */
  --secondary-clr: #000;
  --tertiary-clr:#101014;
  --border-clr:rgb(61, 57, 57);
  --txt-gray: #898989;
  --txt-dark: #fff;
  --lm-sun:#000;
  --lm-moon:#34CAA5;
  --moon-clr:#fff;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}


body {
  width: 100%;
  height: 100%;
  font-family: 'Plus Jakarta Sans', sans-serif;
  background: var(--tertiary-clr);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.app {
  display: flex;
}

.navbar_section{
  background:var(--secondary-clr);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);

}

.page_section {
  width: 100%;
}

/* 
Dashboard styles */

.dashboard {
  width: 100%;
  background: var(--tertiary-clr);
  min-height:100vh;
}

.db-main-flex {
  padding: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 1rem;

}

.st-flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.st-flex .sb{
  display: flex;
  align-items: center;
  gap: .6rem;
} 

.st-flex .sb span{
  font-weight: 500;
  color:var(--txt-dark);
  opacity: .9;
}

.st-flex .sb select{
  padding: .1rem .3rem;
  border-radius: 1rem;
  color: var(--txt-dark);
  opacity: .85;
  cursor: pointer;
  border: 2px solid var(--border-clr);
  outline: none;
  background:var(--tertiary-clr) ;
}



.db-main-left,
.db-main-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.chart-box {
  margin-top: 2rem;
  overflow: auto;
  
  
}

.last-orders,
.sales-trend {
  padding: 1rem;
  background: var(--primary-clr);
  border-radius: 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);
}

.lo-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.db-main-flex h2 {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--txt-dark);
}

.lo-flex a {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--major-clr);
}

table {
  margin: 2rem 0;
  width: 100%;
  text-align: left;
}

table tr {
  position: relative;
}

table tr::after {
  content: '';
  width: 100%;
  height: 1px;
  background: var(--border-clr);
  position: absolute;
  bottom: 0;
  left: 0;
}



table th {
  font-size: 1rem;
  font-weight: 500;
  color: var(--txt-gray);
}

table td {
  font-size: .9rem;
  text-align: left;
  padding: .5rem 0;
  font-weight: 500;
  color: var(--txt-gray);
}

table td:first-child img {
  width: 1.9rem;
}

.view-btn {
  display: flex;
  align-items: center;
  gap: .3rem;
  font-weight: 500;
  color: var(--txt-dark);
  cursor: pointer;
}

.view-btn a {
  color: var(--txt-gray);
}


table tbody tr td:first-child {
  display: flex;
  align-items: center;
  gap: .5rem;
}

table .paid-clr{
  color: var(--major-clr);
}

table .refund-clr{
  color: #ff0000;
}


.db-main-right {
  width: 100%;

}

/* stats */

.order-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  height: 50%;
}

.stat-box {
  width: 100%;
  height: 100%;
  padding: .8rem;
  background: var(--primary-clr);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);
}

.stat-box-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stat-box-middle {
  display: flex;
  flex-direction: column;
  gap: .3rem;
}

.stat-box-middle h4 {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--txt-gray);
}

.stat-box-middle h3 {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--txt-dark);
}

.stat-box-btm {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: .7rem;
  color: var(--txt-dark);
}


.stat-box-btm button {
  padding: .2rem .5rem;
  display: flex;
  align-items: center;
  gap: .3rem;
  outline: none;
  border: none;
  border-radius: .6rem;

}

.stat-box-btm .positive-btn {
  background: #34CAA51F;
  color: var(--major-clr);
}

.stat-box-btm .negative-btn {
  background: #ED544E1F;
  color: #ED544E;
  ;
}


/* Top platform */
.top-platform {
  height: 50%;
  padding: 1rem;
  background: var(--primary-clr);
  border-radius: 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);
}




.tps {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  margin: 1.5rem 0;
  

}

.tp-box {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 100%;
  margin-bottom: 5px;
}

.tp-text {
  display: block;
  font-size: 1rem;
  font-weight: 600;
  color: var(--txt-dark);
}
.tp-box{
  color: var(--txt-gray);
}

.tp-layout {
  width: 100%;
  height: 10px;
  background: var(--tertiary-clr);
  border-radius: 7px;
}


.tp-filled {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  display: block;
  position: relative;
  animation: skillBar .4s ease-in-out forwards;

}

.pp-flex {
  font-size: .9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.tp-filled.bb {
  width: 50%;
  background: #6160DC;
  animation-delay: .1s;
}

.tp-filled.aa {
  width: 40%;
  background: #54C5EB;
  animation-delay: .2s;
}

.tp-filled.tt {
  width: 32%;
  background: #FFB74A;
  animation-delay: .3s;
}

.tp-filled.xt {
  width: 20%;
  background: #ff0000;
  animation-delay: .3s;
}



@keyframes skillBar {
  0% {
    width: 0;

  }

}


/* The user menu box */

#menuBox{
  padding: .5rem;
  width: 18rem;
  flex-direction: column;
  position: absolute;
  top: 10%;
  right: 3%;
  display: none;
  z-index: 2;
  background:var(--primary-clr);
  animation: animatezoom .3s ease-in-out;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);
  border: 3px solid var(--border-clr);
  border-radius: 7px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);
}

  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

.mb-flex{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.mb-top{
  width: 100%;
  
}
.mbt-flex{
  padding: .5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--tertiary-clr);
  border-radius: 7px;
  color: var(--txt-dark);
}
.mbt-flex button{
  font-size: .8rem;
  font-weight: 700;
  color: var(--major-clr);
  padding: .2rem;
  width: fit-content;
  text-align: left;
  border: none;
  outline: none;
  background:var(--primary-clr) ;
}

.mbt-flex h3{
  font-size: 1.05rem;
  font-weight: 500;
  text-align: center;
}

.mbt-flex img{
  width: 3rem;
  margin: auto;
}

.menu-links{
  display: flex;
  flex-direction: column;
  gap:1rem;
}

.menu-links  .ml-top,.ml-btm{
  display: flex;
  flex-direction: column;
  gap:.5rem;
}

.menu-links li{
  padding: .5rem;
  border-radius: 7px;
}

.menu-links li a{
  font-size: .9rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap:.5rem;
  color: var(--txt-dark);
  opacity: .8;
}

.menu-links li a i{
  font-size: 1.2rem;
}


.ml-btm li .m-icon img{
width: 1.3rem;
}

.mb-btm{
  display: flex;
  justify-content: space-between;
}

.mb-btm a{
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: var(--txt-dark);
  opacity: .8;
}

.mb-btm a i{
  font-size: 1.44rem;
}



.mb-btm .logout a{
  color: #e50d0d;
}



.menu-links li:hover{
  background:var(--tertiary-clr) ;
}

.mb-btm a{
  padding: .1rem .3rem;
  border-radius: 7px;
}

.mb-btm a:hover{
  background:var(--tertiary-clr);
}

.mb-btm .logout a:hover{
  background: rgba(255, 0, 0, 0.192);
}

/* Invoice */

#blur{
  width: 100%;
  min-height: 100vh;
  background: rgba(0, 0, 0, 0.626); 
  position: fixed;  
  top: 0;
  left: 0;
  display: none;
  z-index: 1;
}

#invoiceBox{
  padding: .3rem;
  width: fit-content;
  flex-direction: column;
  position: fixed;
  top:1%;
  right: 25%;
  display: none;
  z-index: 2;
  background:var(--primary-clr);
  animation: animatezoom .3s ease-in-out;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0);
  border: 3px solid var(--border-clr);
  border-radius: 7px;
}

.ib-flex{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.ib-top{
  padding: .5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
 position: relative;
  
}

.ib-top::after{
  content: '';
  background: var(--border-clr);
  height: 2px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.ib-top h3{
font-size: 1.8rem;
font-weight: 500;
color: var(--txt-dark);
}
.ib-top-right{
  display: flex;
  flex-direction: column;
  gap: .2rem;
}
.ib-top-right h4{
  font-size: 1.1rem;
  color: var(--major-clr);
}

.ib-top-right p{
  font-size: .9rem;
  color: var(--txt-dark);
  opacity: .8;
}


.customer-info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--txt-dark);
}

.customer-info b{
  font-size: .9rem;
  margin-bottom: .3rem;
}

.ci-left,.ci-right{
  display: flex;
  flex-direction: column;
  gap: .2rem;
}


.ib-details{
  padding: .5rem;
  background:var(--tertiary-clr);
  border-radius: 7px;
}

.ib-details th{
  text-align: left;
  font-size: 1rem;
  color: var(--txt-dark);
}

.ib-details td{
  text-align: center;
  padding: 1rem 0;
  font-size: 1rem;
  color: var(--txt-dark);
  opacity: .9;
}

.ib-total{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.ib-note{
  width: 68%;
  padding: .7rem;
  background: var(--tertiary-clr);
  border-radius: 7px;
  color: var(--txt-dark);
}

.ib-total-box{
  padding: .6rem;
  width: 30%;
  background: var(--major-clr);
  border-radius: 7px;
}

.ib-total-box{
  color: #fff;
}

.ib-total-box h3{
  font-size: 1.4rem;
  margin: .2rem 0;
  color: #000;
}

.action{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.action .ib-a-btn{
  padding: .5rem 3rem;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
}

.action .ib-a-btn.cancel{
  background: #000;
  color: #fff;
}

.action .ib-a-btn.delete{
  background:rgba(255, 0, 0, 0.126) ;
  color:rgb(147, 15, 15);
}

/* Responsiveness */

@media screen and (max-width:800px){
  .db-main-flex{
    padding-top: 6rem;
    overflow: hidden;
    flex-direction: column;
  }

  
table {
  margin: 1rem 0;
}




table th {
  font-size: .9rem;
}

table td {
  font-size: .75rem;
  text-align: left;
}

table td:first-child img {
  width: 1.6rem;
}

.view-btn {
  gap: .2rem;
}


#invoiceBox{
  padding: .2rem;
  width: 96%;
  top:1%;
  right: 2%;
 
}

.ib-flex{
  padding: .5rem;
}

.ib-top img{
  width: 1.8rem;
}


.ib-top h3{
font-size: 1.2rem;
}

.ib-top-right h4{
  font-size: 1rem;

}

.ib-top-right p{
  font-size: .8rem;
 
}



.customer-info b{
  font-size: .8rem;
  margin-bottom: .3rem;
}

.customer-info p{
  font-size: .8rem;
}



.ib-details th{
  font-size: .8rem;
}

.ib-details td{

  padding: .7rem 0;
  font-size: .8rem;
}

.ib-total{
  gap: .5rem;
}


.ib-total-box{
  padding: .3rem;
 
}

.ib-total-box span{
  font-size: .8rem;
}
.ib-total-box h3{
  font-size: 1rem;
 
}


.action .ib-a-btn{
  padding: .5rem 2rem;
  font-size: .9rem;
  
}

.action .ib-a-btn.cancel{
  background: #000;
  color: #fff;
}

.action .ib-a-btn.delete{
  background:rgba(255, 0, 0, 0.126) ;
  color:rgb(147, 15, 15);
}


}



/* Scrolling */

::-webkit-scrollbar {
  width: 8px;

}

/* Track */
::-webkit-scrollbar-track {
  background: var(--tertiary-clr);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--major-clr);
}




